:root {
  --safe-bottom: env(safe-area-inset-bottom);
  --lyxig-dark-green: #00401A;
  --background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #c3b89a;
  --menu-bg-color: #333333;
  --menu-text-color: #fffef2;
  --navbar-top-scroll-color: rgba(255, 255, 255, 0);
  --accent-color: #616E42;
  --form-input-color: rgba(131, 131, 131, 0.7);

  --desktop-nav-background-color: #b9b9b9;
}

/* We want these to apply to all screen sizes I think */
body {
  padding-bottom: var(--safe-bottom);
  margin: 0;
  font-family: IBM Plex Sans, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}
/* Properties for products */
.customizer-header{
  padding: 0 1em;
}
.customizer-header h2,
.products h2{
  font-weight: 600;
  font-size: 1.7em;
  letter-spacing: -0.01em;
}
.cta-wrapper p,
.cta-button,
.customizer-header,
.product h2{
  font-family: IBM Plex Sans, serif;
}
.products h2{
  color: var(--accent-color);
  text-transform: uppercase;
  margin: 0.5em 1em;
  text-align: center;
  padding: 1.3em;

}
.product-slider{
  position: relative;
  width: 100%;
  height: 25em;
  margin-bottom: 0.1em;
  overflow: hidden;
}
.product-slider img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product-slider img.active {
  opacity: 1;
}
.product-card .speaker{
  height: 110%;
  transform: scale(0.9);
}
.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  font-size: 1.2em;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: transparent;
  z-index: 20;
}
.arrow-left {
  left: 1em;
}
.arrow-right {
  right: 1em;
}
/* Properties for 3d model */
#model-container {
  width: 100%;
  height: 20em;
  margin: 0;
}
.model-color {
  background-color: #a89c7b;
  aspect-ratio: 1 / 1;
  width: 3em;
  border: none;
  border-radius: 0%;
  padding: 0;
}
.blue {
  background-color: rgb(133, 185, 185);
}
.red {
  background-color: rgb(175, 87, 87);
}

.navbar-desktop {
  display: none;
}

/* End of properties for 3d model */
.navbar {
  background-color: var(--navbar-top-scroll-color);
  color: white;
  font-size: small;
  width: -webkit-fill-available;
  height: 2rem;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  z-index: 1000;
  top: 0;
  transition: background-color 0.8s ease;
}

.navbar h1 {
  margin: 0;
}

.navbar-scrolled {
  background-color: var(--background-color);
  color: var(--primary-color);
}

nav svg {
  height: 1.2rem;
  width: 1.2rem;
}

.mobile-menu {
  display: none;
}

.mobile-menu.active {
  display: block;
  position: absolute;
  background-color: var(--menu-bg-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

.mobile-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.mobile-menu-top img:nth-child(1) {
  height: auto;
  width: 1.3rem;
  padding-top: 10px;
}

.mobile-menu-top img:nth-child(2) {
  height: auto;
  width: 10rem;
}

.menu-icon-close {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  padding-top: 5px;
}

.mobile-menu-top svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
}

.menu-link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
}

.menu-link-container ul {
  padding: 0;
  margin: 0;
  margin-left: 2rem;
}

.menu-link-container li {
  color: var(--menu-text-color);
  list-style: none;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.menu-user-icon {
  display: flex;
  align-items: center;
  width: 50%;
  height: auto;
  margin: 0;
  margin-top: 2rem;
  margin-left: 2rem;
  gap: 0.5rem;
  cursor: pointer;
}

.menu-user-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--menu-text-color);
  fill: var(--menu-text-color);
}

.menu-user-icon p {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  color: var(--menu-text-color);
}

.video-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
}

.about-section {
  padding: 1rem;
}

.about-section h2 {
  margin-bottom: 0.2rem;
}

.about-section h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.about-carousel {
  width: 100%;
  padding: 1rem 0 0.8rem;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.about-carousel::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome/Safari) */
}

.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  width: max-content;
}

.about-list li img {
  height: auto;
  width: 250px;
  object-fit: contain;
}

.navigation-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.navigation-icons svg {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 1rem;
  cursor: pointer;
}

.about-speaker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-speaker-wrapper img {
  width: 75%;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.cta-wrapper {
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  width: 55%;
  margin: auto;
}

.cta-wrapper h4 {
  text-decoration: none;
  margin: 0;
  font-size: 4em;
}
.cta-wrapper h4,
.cta-wrapper p{
  color: var(--menu-bg-color);
}
.cta-wrapper p{
  font-size: 2.25em;
}
.cta-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
}

.cta-form input {
  text-align: center;
  font: inherit;
  -webkit-text-fill-color: var(--form-input-color) !important;
  text-decoration: none;
  width: 78%;
  height: 3.5em;
  border: 1px solid var(--primary-color);
  box-shadow: inset 0 0 2.5px 0.1px var(--primary-color);
  border-radius: 2px;
  max-width: 400px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cta-button {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  height: auto;
  width: 5em;
  max-width: 400px;
  border-radius: 0.5em;
}

.footer-section {
  height: fit-content;
  margin-top: 4em;
}
.footer-content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-content a{
  text-decoration: none;
  color: var(--lyxig-dark-green);
  font-weight: 400;
  line-height: normal;
}
.footer-socials{
  margin-bottom: 20em;
  gap: 0.5em;
}
.footer-socials li{
  display: inline-block;
}
.footer-socials li a{
  width: auto;
  height: auto;
}
.footer-socials ul{
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0;
}
.footer-socials ul,
.footer-content{
  margin: 1em;
}
/* Desktop styles */

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar-desktop {
    background-color: var(--navbar-top-scroll-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 5fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: -webkit-fill-available;
    padding: 8px 16px 16px 16px;
    transition: background-color 0.8s ease;
  }

  .navbar-items-desktop {
    display: flex;
    gap: 15rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 8px;
  }

  .navbar-items-desktop img:nth-child(1) {
    height: 2rem;
    width: 2rem;
  }

  .navbar-items-desktop img:nth-child(2) {
    height: 4rem;
    width: auto;
  }

  .navbar-items-desktop svg {
    height: 2rem;
    width: 2rem;
    color: var(--menu-text-color);
  }

  .nav-links-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .nav-links-desktop ul {
    display: flex;
    gap: 2rem;
    padding: 1px 0 0 0;
    margin: 0;
    list-style: none;
  }

  .nav-links-desktop li {
    font-size: 0.9rem;
    color: var(--menu-text-color);
  }

  .navbar-desktop-scrolled {
    background-color: var(--background-color);
    color: var(--primary-color);
  }

  .navbar-desktop-scrolled img:nth-child(1) {
    height: 2rem;
    width: 2rem;
  }

  .navbar-desktop-scrolled img:nth-child(2) {
    height: 4rem;
    width: auto;
    content: url(/assets/images/kinforma-logo-dark.png);
  }

  .navbar-desktop-scrolled svg {
    height: 2rem;
    width: 2rem;
    color: var(--primary-color);
  }

  .navbar-desktop-scrolled li {
    color: var(--primary-color)
  }

  .hero-overlay {
    height: 95vh; /* Slightly shorter on desktop */
  }

  .video-container {
    height: 80vh;
  }
}
